<h1>Lista de restaurantes</h1>

<% if user_signed_in? %><p><%= link_to 'Novo restaurante', new_restaurante_path, :class => "btn" %></p><% end %>

<% if @restaurantes.empty? %>
  <h2>Nenhum restaurante cadastrado ainda... :(</h2>
<% else %>
  <% @restaurantes.each do |restaurante| %>
    <%= content_tag_for(:div, restaurante) do %>
      <div style="float: left; width: 600px;">
        <h3><%= restaurante.nome %></h3>
      
        <p><strong>Nota <%= format("%.1f", restaurante.nota_media) %></strong><p>
      
        <p>
          <% if restaurante.comentarios.any? %>
            <%= pluralize(restaurante.comentarios.count, "comentário") %>
          <% else %>
            Nenhum comentário :(
          <% end %>
        </p>
      
        <p><%= restaurante.endereco %></p>
      </div>
      <span style="float: right;">
        <%= image_tag("http://maps.googleapis.com/maps/api/staticmap?zoom=16&size=200x200&maptype=roadmap&markers=color:red|#{restaurante.latitude},#{restaurante.longitude}&sensor=false") %>
      </span>
      <div style="clear: both;">
        <%= link_to 'Visualizar', restaurante, :class => "btn primary" %> 
          <% if user_signed_in? && current_user.pode_manter?(restaurante) %>
          <%= link_to 'Editar', edit_restaurante_path(restaurante), :class => "btn" %> 
          <%= link_to 'Apagar', restaurante, :confirm => 'Você tem certeza?', :method => :delete, :class => "btn" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
