<%= content_tag_for(:div, comentario) do %>
  <strong><%= comentario.nome %></strong> achou <strong>nota <%= comentario.nota %></strong>
  <p><%= comentario.texto %></p>
  <div style="text-align: right;">
    <%= link_to 'Apagar', [comentario.restaurante, comentario], :confirm => 'Você tem certeza?', :method => :delete %>
  </div>
<% end %>