<%= form_for([@restaurante, Comentario.new]) do |f| %>
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome, :size => 60 %>
  </div>
  <div class="field">
    <%= f.label :nota %><br />
    <%= select :comentario, :nota, (1..5).to_a, {}, {:style => "width:60px"} %>
  </div>
  <div class="field">
    <%= f.label :texto, "Comentário" %><br />
    <%= f.text_area :texto, :cols => 80, :rows => 8 %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
